.Cards {
  display: flex;
  gap: 10px;
}


@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
    /* scroll-snap-align: start; */
  }
  
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 100%;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 100vw;
    scroll-snap-type:x mandatory;
    scroll-padding: 100px;
  }
  .parentContainer{

    scroll-snap-align: start;
    height: fit-content
  
  }
}
